name: Smoke Test
on: # test our action against multiple events
  push:
  pull_request:
  workflow_dispatch:

permissions:
  checks: write
  contents: write

jobs:
  pass-standard: # uses default 'ruby' version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./
        with:
          working-directory: examples/good

  ruby-version-param: # uses 3.2 explicitly from input param
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./
        with:
          ruby-version: 3.2
          workdir: examples/ruby-version-file

  ruby-version-file: # uses 3.1 implicitly from ruby-version file
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: ./
        with:
          workdir: examples/ruby-version-file

  fail-standard:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - continue-on-error: true
        id: standardrb
        uses: ./
        with:
          working-directory: examples/bad
          autofix: false
      - if: steps.standardrb.outcome != 'failure'
        run: echo "Standard should have failed"; exit 1
